absl-py==2.4.0
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938096667/work
cffi==2.0.0
contourpy @ file:///C:/b/abs_f2u2o_8s9g/croot/contourpy_1732540071787/work
cycler @ file:///tmp/build/80754af9/cycler_1637851556182/work
filelock @ file:///C:/miniconda3/conda-bld/filelock_1762420019633/work
flatbuffers==25.12.19
fonttools @ file:///C:/miniconda3/conda-bld/fonttools_1759754888458/work
fsspec @ file:///C:/miniconda3/conda-bld/fsspec_1762432453506/work
gmpy2 @ file:///C:/b/abs_d8ki0o0h97/croot/gmpy2_1738085498525/work
Jinja2 @ file:///C:/b/abs_920kup4e6u/croot/jinja2_1741711580669/work
joblib @ file:///C:/miniconda3/conda-bld/joblib_1757926370033/work
kiwisolver @ file:///C:/miniconda3/conda-bld/kiwisolver_1764159353779/work
MarkupSafe @ file:///C:/b/abs_a0ma7ge0jc/croot/markupsafe_1738584052792/work
matplotlib==3.10.6
mediapipe==0.10.32
mkl-service==2.4.0
mkl_fft @ file:///C:/Users/dev-admin/mkl/mkl_fft_1730823082242/work
mkl_random @ file:///C:/Users/dev-admin/mkl/mkl_random_1730822522280/work
mpmath @ file:///C:/b/abs_7833jrbiox/croot/mpmath_1690848321154/work
networkx @ file:///C:/b/abs_b054htfn9t/croot/networkx_1737043671910/work
numexpr @ file:///C:/b/abs_4e0h6i5ip2/croot/numexpr_1752521729801/work
numpy==2.2.6
opencv-contrib-python==4.13.0.92
opencv-python==4.13.0.92
packaging @ file:///C:/miniconda3/conda-bld/packaging_1761049101700/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332399653/work/dist/pandas-2.3.3-cp310-cp310-win_amd64.whl#sha256=25368e0adc93a7db0f3983502b4e57344f71af8f45ca3849f7c3833738f306aa
pillow @ file:///C:/b/abs_b50vowcrzo/croot/pillow_1738010273782/work
pycparser==3.0
pyparsing @ file:///C:/miniconda3/conda-bld/pyparsing_1763973898118/work
PyQt5==5.15.11
PyQt5_sip @ file:///C:/miniconda3/conda-bld/pyqt-split_1764009081829/work/pyqt_sip
python-dateutil @ file:///C:/b/abs_3au_koqnbs/croot/python-dateutil_1716495777160/work
pytz @ file:///C:/b/abs_f8wdzeix0n/croot/pytz_1752135878094/work
scikit-learn @ file:///C:/b/abs_45qemhn4lg/croot/scikit-learn_1753427401078/work
scipy @ file:///C:/b/abs_71q96u23a4/croot/scipy_1747238057723/work/dist/scipy-1.15.3-cp310-cp310-win_amd64.whl#sha256=06013d45c5cad262bccdca1fbe5c25a720be04ae66dc83d75d1f749d118a7346
sip @ file:///C:/b/abs_f6ow8vlbb7/croot/sip_1756224172742/work
six @ file:///C:/b/abs_149wuyuo1o/croot/six_1744271521515/work
sounddevice==0.5.5
sympy @ file:///C:/b/abs_f1v7nwa6vp/croot/sympy_1756713483242/work
threadpoolctl @ file:///C:/miniconda3/conda-bld/threadpoolctl_1764361785970/work
tomli @ file:///C:/b/abs_88e598m6o8/croot/tomli_1753774604115/work
torch @ file:///C:/b/abs_fakvb73nko/croot/pytorch-select_1730848725921/work
torchvision @ file:///C:/b/abs_36wv6_sd88/croot/torchvision_1722956313919/work
tornado @ file:///C:/b/abs_7dzpc171lf/croot/tornado_1748956950306/work
typing_extensions @ file:///C:/b/abs_ecq8gc0vbm/croot/typing_extensions_1756281142218/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
